# Build and Release Folders
TestResults/
bin/
obj/
NotBasic.UnitTests/obj
NotBasic.UnitTests/bin
NotBasic.Console/obj
NotBasic.Console/bin
NotBasic/obj
NotBasic/bin

# Project property files
*.suo
*.user
